
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

p {
    width: 70%;
}

.container {
    margin-left: 15%;
    margin-right: 15%;
}

body {
    background-color: #d8d8d8;
    font-family: Courier, monospace, Arial, Helvetica, sans-serif;   
}

.key-expansion {
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
}

.key-explain {
    display: flex;
    flex-direction: column;
}

.key-explain > * {
    margin-bottom: 550px;
}

.key-explain  * {
    /* border: 5px solid red; */
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.body-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5%;
}

p {
    margin-top: 40px;
}

.main-h1 {
    width: 70%;
}

.nextButton {
    width: 70%;
    font-size: 48px;
}

.main-p {
    font-size: 24px;
    width: 70%;
    margin-bottom: 200px;
}

.key-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.key-expansion{
    margin-top: 300px;
}

#keySchedule{
    /* border: 5px solid red; */
    position: sticky;
    top: 300px;
}

.key-expansion-visual {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 50px;
}

.sq {
    display: flex;
    align-items: center;
    border: 2px solid gray;
    font-size: 40px;
    padding: 20px;
}

.K0-text {
    display: flex;
    align-items: center;
    margin-right: 150px;
    font-size: 48px;
}

.w-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.key-sec-1 {
    display: flex;
    flex-direction: column;
}

.kc1-text {
    font-size: 24px;
    padding-left: 10%;
}

.left-shift {
    display: flex;
    padding-left: 10%;
    align-items: center;
    justify-content: left;
    margin-top: 50px;
}

.w3 {
    display: flex;
    margin-left: 100px;
}

.sq1 {
    display: flex;
    align-items: center;
    border: 2px solid gray;
    font-size: 40px;
    padding: 20px;
}

.sq2 {
    display: flex;
    align-items: center;
    border: 2px solid gray;
    font-size: 40px;
    padding: 20px;
}

.sq3 {
    display: flex;
    align-items: center;
    border: 2px solid gray;
    font-size: 40px;
    padding: 20px;
}

.sq4 {
    display: flex;
    align-items: center;
    border: 2px solid gray;
    font-size: 40px;
    padding: 20px;
    
    transform: translate(-280px, 100px);
    
}
#sBox h2,
#sBox p {
    width: 60%;
    margin-top: 50px;
}

#sBoxVisual {
    position: relative;
    width: 900px;
    height: 900px;
}

#sBoxVisual h1 {
    display: flex;
    justify-content: center;
}

#sBoxVisual canvas {
    position: absolute;
    top: 100;
    left: 0;
}

#sboxframe1 {
    z-index: 1;
}

#sboxframe2 {
    z-index: 2;
}

#sboxframe3 {
    z-index: 1;
}

#sboxExample {
    width: 500px;
    height: 320px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#sboxExample > * {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

#row0 {
    height: 40px;
}
#row4 {
    height: 40px;
}
#row2 {
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
#row2 > *:hover {
    -webkit-box-shadow:0px 0px 66px 30px rgba(45,255,196,0.56);
    -moz-box-shadow: 0px 0px 66px 30px rgba(45,255,196,0.56);
    box-shadow: 0px 0px 66px 30px rgba(45,255,196,0.56);
}

#rotWordAnimation {

    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 250px;
}
#rotWordAnimation canvas {
    position: absolute;
    top: 100;
    left: 100;

    /* so canvases stack visually */
}

#rotWordCanvas0 {
    z-index: 1;
    margin-top: 50px;
}

#rotWordCanvas1 {
    z-index: 2;
    margin-top: 50px;
}
.rConContainer {

    display: flex;
    justify-content: space-evenly;
}
.rConExplain {
    display: flex;
    flex-direction: column;
}
#rConVisual {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#rConCanvas1 {
    margin-left: 150px;
    margin-top: 25px;
}
/* SLIDING SBOX PANEL */
#sBoxPanel {
    position: fixed;
    top: 75px;
    right: -950px; /* start hidden off-screen */
    width: 800px;
    height: 800px;
    background: #d8d8d8;
   /* box-shadow: -6px 0 25px rgba(0,0,0,0.3); */
    padding: 20px;
    z-index: 9999;
    transition: right 0.5s ease;
}

#sBoxPanel h1 {
    text-align: center;
}

#sBoxPanel canvas {
    position: absolute;
    top: 100px;
    left: 0;
}

#slideSboxFrame1 { z-index: 1; }
#slideSboxFrame2 { z-index: 2; }
#slideSboxFrame3 { z-index: 1; }


#xORSliding > *{
    margin-top: 100px;
}

#k0 {
    margin-top: 50px;
    padding-bottom: 20px;
}

     