
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
p {
    width: 70%;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
table tr {
    display: table-row;
}
table td {
    display: table-cell;
    padding: 8px;
    text-align: center;
}
table th {
    display: table-cell;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}
body {
    background-color: #d8d8d8;
    font-family: Courier, monospace, Arial, Helvetica, sans-serif;   
}
.banner {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    background-color: red;
}
.key-expansion {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
.key-explain {
    display: flex;
    flex-direction: column;
}
.key-explain > * {
    margin-bottom: 100px;
}
p {
    margin-top: 40px;
}
.key-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.keySchedule{
    position: sticky;
    top: 300px;
    margin-bottom: 50px;
}

.key-expansion-example {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.key-expansion-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
}
#key-expansion-key-value {
    font-size: 18px;
    margin-top: 50px;
    justify-self: center;
}
#key-expansion-text {
    margin-top: 50px;
    width: 100%;
    border-bottom: 3px solid black;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 10px;
}
#key-expansion-text > div {
    flex: 1;
    text-align: center;
}
#expansion-example-table {
    margin-top: 50px;
    justify-self: center;
    width: 80%;
    overflow-x: auto;
}
#sBox h2,
#sBox p {
    width: 60%;
    margin-top: 50px;
}
#sboxframe1 {
    z-index: 1;
}

#sboxframe2 {
    z-index: 2;
}

#sboxframe3 {
    z-index: 1;
}

#sboxExample {
    width: 500px;
    height: 320px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#sboxExample > * {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}
#row0 {
    height: 40px;
}
#row4 {
    height: 40px;
}
#row2 {
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
}
#row2 > *:hover {
    -webkit-box-shadow:0px 0px 66px 30px rgba(45,255,196,0.56);
    -moz-box-shadow: 0px 0px 66px 30px rgba(45,255,196,0.56);
    box-shadow: 0px 0px 66px 30px rgba(45,255,196,0.56);
}
.rConContainer {
    display: flex;
    justify-content: space-evenly;
}
.rConExplain {
    display: flex;
    flex-direction: column;
}
#rConVisual {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#rConCanvas1 {
    margin-left: 100px;
    margin-top: 25px;
}
/* SLIDING SBOX PANEL */
#sBoxPanel {
    position: fixed;
    top: 75px;
    right: -950px; /* start hidden off-screen */
    width: 800px;
    height: 800px;
    background: #d8d8d8;
   /* box-shadow: -6px 0 25px rgba(0,0,0,0.3); */
    padding: 20px;
    z-index: 9999;
    transition: right 0.5s ease;
}

#sBoxPanel h1 {
    text-align: center;
}

#sBoxPanel canvas {
    position: absolute;
    top: 100px;
    left: 0;
}

#slideSboxFrame1 { z-index: 1; }
#slideSboxFrame2 { z-index: 2; }
#slideSboxFrame3 { z-index: 1; }

#xORSliding {
    width: 650px;
    display: flex;
    overflow-x: auto;
}


#xORSliding > *{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
}
#k0 {
    margin-top: 50px;
    padding-bottom: 20px;
}
#k1 {
    margin-top: 50px;
    padding-bottom: 20px;
}
#encryption {
    margin-left: 10%;
    margin-right: 10%;
}
#sub-bytes-visual-wrapper {
    position: relative;
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
#encryption-sub-bytes {
    margin-top: 50px;
}
#sub-bytes-visual-block1,
#sub-bytes-visual-block2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.aes-row {
    display: grid;
    grid-template-columns: repeat(4, 40px) auto;
    margin-bottom: 5px;
    gap: 15px;
}
.aes-row-mini {
    display: grid;
    grid-template-columns: repeat(4, 20px);
    gap: 10px;
}
#sbox-visual {
    margin-top: 50px;
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
#sbox-visual-svg {
    position: absolute;
}
#sbox-visual-row1 > * {
    margin-bottom: 95px;
    gap: 75px;
    justify-content: center;
}
#sbox-visual-row2 > * {
    margin-top: 100px;
    gap: 75px;
    justify-content: center;
}
.aes-cell {
    width: 50px;
    height: 50px;
    background-color: #e6e6e6;
    border: 2px solid #999;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: monospace;
    font-size: 16px;

    transition:
        transform 0.25s ease,
        background-color 0.25s ease,
        box-shadow 0.25s ease;
}
.aes-cell-mini {
    width: 30px;
    height: 30px;
    background-color: #e6e6e6;
    border: 2px solid #999;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: monospace;
    font-size: 16px;
}
.aes-cell:hover {
    background-color: #f4c430;
    transform: scale(1.4);
    z-index: 10;

    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.25);
}
.aes-cell.curve-move {
  offset-path: path("M 30 25 Q 125 150 190 25");
  offset-rotate: 0deg;
  animation: move-curve 1.5s ease-in-out forwards;
}
.w-label {
  margin-left: 8px;
  font-style: italic;
  white-space: nowrap;
  align-self: center;
}
@keyframes move-curve {
  to {
    offset-distance: 100%;
  }
}
#sub-bytes-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    inset: 0;
    pointer-events: none;
}
.aes-cell.target-highlight {
    background-color: #9aff9a;
    transform: scale(1.3);
    box-shadow: 0 0 25px rgba(0, 255, 0, 0.6);
    z-index: 9;
}
#shift-rows-visual {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#shift-rows-visual-shift-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#shift-rows-visual-block1,
#shift-rows-visual-block2, 
#mix-columns-visual-block1,
#mix-columns-visual-block2,
#mix-columns-visual-block3,
#add-round-key-visual-block1,
#add-round-key-visual-block2,
#add-round-key-visual-block3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

#shift-rows-visual-block1 .aes-row {
    transition: transform 0.5s ease;
    transform-origin: center;
}
#shift-rows-visual-block1 .aes-row:hover .aes-cell{
    transform: none;
}
#shift-rows-visual-block1 .aes-row:hover {
    transform: scale(1.4);
    transform-origin: center;
    z-index: 5;
    transition: transform 0.6s ease;
}
#mix-columns-visual-blocks {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#mix-columns-visual-math-header,
#mix-columns-visual-math-footer {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
#mix-columns-visual-math {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}
#mix-columns-visual-math * p {
    margin: 0px;
}
#add-round-key-visual {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between
}

#add-round-key-visual-container1 {
    display: flex;
    flex-direction: column;
}
#add-round-key-visual-block2 {
    margin-top: 30px;
}
#add-round-key-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    inset: 0;
}
.full-aes-example-header {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    text-align: center;
}
.full-aes-example-row {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    justify-items: center;
    align-content: center;
}
#sbox-slider-wrapper {
    position: relative;
    position: fixed;
    top: 75px;
    right: -950px; /* start hidden off-screen */
    width: 800px;
    height: 800px;
    background: #d8d8d8;
   /* box-shadow: -6px 0 25px rgba(0,0,0,0.3); */
    padding: 20px;
    z-index: 9999;
    transition: right 0.5s ease;
}
#sbox-slider-svg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#sbox-slider {
    display: grid;
    grid-template-rows: repeat(17, 1fr);
    grid-template-columns: repeat(17, 1fr);
    align-items: center;
}
.sbox-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

    width: 30px;
    height: 30px;
    border: 2px solid #999;
    border-radius: 1px;

    font-family: monospace;
    font-size: 15px;
}
.sbox-highlight-cell {
    background-color: #9aff9a;
    transform: scale(1.3);
    box-shadow: 0 0 25px rgba(0, 255, 0, 0.6);
}
.sbox-highlight {
    background-color: lightblue;
    transform: scale(1.3);
    box-shadow: 0 0 25px rgba(0, 255, 0, 0.6);
}
#rCon-block2-wrapper {
    margin-top: 100px;
    position: relative;
}
#rCon-block1 {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap : 5px;
    align-items: center;
    justify-items: center;
}
#rCon-block2 {
    display: flex;
    flex-direction: column;
    gap: 175px;
}
#rCon-block2 > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
}
#rCon-svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    pointer-events: none;
}
#key-expansion-xor-visual-wrapper {
    position: relative;
    width: 100%;
    height: 650px;
    margin-top: 50px;
}
#key-expansion-xor-visual {
    width: 70%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 200px;
}
/* #key-expansion-xor-visual-wrapper {
    position: relative;
    width: 100%;
    margin-top: 50px;
}
#key-expansion-xor-visual {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 200px;
}
#key-expansion-xor-visual > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
}
#key-expansion-xor-visual > div * {
    justify-content: center;
}
#key-expansion-xor-svg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    pointer-events: none;
} */